<div class="container">

<div class="d-flex flex-column mb-3">
  <div class="p-2"><%= @flat.name %></div>
  <div class="p-2"><%= @flat.address %></div>
  <div class="p-2"><%= @flat.description %></div>
</div>

</div>
